@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0px;
    font-family: "Inter";
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: space-around
}

.main-content-page {
    width: 58%;
}

.main-content-page-logo {
    margin-top: 40px;
    margin-left: 40px;
}

.main-section-textarea h1 {
    margin-top: 46px;
    margin-left: 140px;
    width: 80%;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.text-area {
    resize: none;
    margin-left: 140px;
    width: 80%;
}

.inf-content {
    margin-left: 140px;
    margin-top: 10px;
}

.text-inf {
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.button-content {
    display: flex;
    margin-left: 140px;
    margin-top: 16px;
    padding-left: 20px;
}

.button-cript {
    background: #0A3871;
    width: 328px;
    height: 67px;
    border-radius: 24px;
}

.button-decript {
    background: #D8DFE8;
    width: 328px;
    height: 67px;
    border-radius: 24px;
}

.main-content-card {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    width: 340px;
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.card-container {
    width: 100%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
}

.card-image {
    background-color: #fff;
}

.image-text {
    display: flex;
    flex-direction: column;
    height: 160px;
    background-color: #FFFFFF;
}

.image-title {
    margin-top: 22px;
    width: 310px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    background-color: #FFFFFF;
    color: #343A40;
}

.image-subtitle {
    margin-top: 10px;
    width: 310px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    background-color: #FFFFFF;
    color: #343A40;
}

@media screen and (max-width: 956px) {
    .main-container, .main-content-page, .main-content-card {
        display: inline-block;
        justify-items: center;
    }
    .main-content-page-logo {
        align-items: center;
    }

    .main-section-textarea h1 {
        width: 454px;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
    }

    .text-area, .inf-content, .button-content {
        width: 454px;
        margin-left: 16px;
        margin-right: 32px;
        align-items: center;
    }

    .main-content-card  {
        width: 454px;
        margin-left: 16px;
        padding-left: 62px;
        align-items: center;
    }

}
